.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  gap: 20px;
  width: 100vw;
  height: 90vh;
  padding-top: 10vh;
}

.projects > .project {
  position: relative;
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;
  transition: transform 0.3s ease;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px) {
  .projects > .project {
    width: 350px;
    height: 360px;
  }

  .title {
    font-size: 1.25rem;
  }

  .description {
    font-size: .75rem;
  }

  .tech {
    font-size: .75rem;
  }

  .projects {
    padding-top: 50px;
  }
}

@media only screen and (min-width: 768px) {
  .projects > .project {
    width: 350px;
    height: 350px;
  }

  .title {
    font-size: 1.25rem;
  }

  .description {
    font-size: .75rem;
  }

  .tech {
    font-size: .75rem;
  }
}

@media only screen and (min-width: 1000px) {
  .projects > .project {
    width: 350px;
    height: 350px;
  }

  .title {
    font-size: 1.25rem;
  }

  .description {
    font-size: .75rem;
  }

  .tech {
    font-size: .75rem;
  }
}

@media only screen and (min-width: 1200px) {
  .projects > .project {
    width: 320px;
    height: 480px;
  }

  .title {
    font-size: 1.5rem;
  }

  .description {
    font-size: 1rem;
  }

  .tech {
    font-size: 1rem;
  }

  .projects {
    height: 60vh;
  }
}

@media only screen and (min-width: 1500px) {
  .projects > .project {
    width: 400px;
    height: 600px;
  }

  .title {
    font-size: 2.5rem;
  }

  .description {
    font-size: 1.5rem;
  }

  .tech {
    font-size: 1.5rem;
  }

  .projects {
    height: 80vh;
  }
}

.projects > .project::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.45);
  pointer-events: none;
}

.projects > .mario_rl {
  background-image: url("/src/assets/images/mario_static.png");
  background-position: center bottom 40px;
  background-color: black;
}

.projects > .mario_rl:hover {
  background-image: url("/src/assets/images/mario_giphy.gif");
  background-position: center bottom 40px;
}

.projects > .nba_mvp {
  background-image: url("/src/assets/images/nba_static.png");
}

.projects > .nba_mvp:hover {
  background-image: url("/src/assets/images/nba_giphy.gif");
}

.projects > .bps_multi {
  background-image: url("/src/assets/images/space_static.png");
}

.projects > .bps_multi:hover {
  background-image: url("/src/assets/images/space_giphy.gif");
}

.projects > a:hover {
  transform: scale(1.025);
}

.projects > a:not(:hover) {
  transform: scale(0.9);
}

.projects > * .title {
  position: absolute;
  opacity: 1;
  margin: 0;
  z-index: 1;
}

.title {
  position: absolute;
  color: #cad2c5;
  background-color: rgba(47, 62, 70, 0.7);
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.description {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #cad2c5;
  background-color: rgba(47, 62, 70, 0.7);
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  width: calc(100% - 40px);
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.projects > *:hover .description {
  opacity: 1;
  visibility: visible;
}

.tech {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 20px;
  display: column;
  list-style: none;
  text-align: center;
  background-color: rgba(47, 62, 70, 0.7);
  border-radius: 20px;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.projects > *:hover .tech {
  opacity: 1;
  visibility: visible;
}

.tech li {
  padding: 5px 10px;
  color: #cad2c5;
}
