.about {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.65);
  color: #cad2c5;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding: 20px;
  margin-top: 4px;
}

@media only screen and (max-width: 999px) {
  .about {
    width: 400px;
    height: 400px;
  }

  .about-pic {
    display: none;
  }

  .about-pic img {
    display: none;
  }

  .about-text h1 {
    font-size: 30px;
  }

  .about-text p {
    font-size: 13px;
  }

  .about-text h2 {
    font-size: 18px;
  }

  .about-text ul {
    font-size: 13px;
  }

  .emoji {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1000px) {
  .about {
    width: 800px;
    height: 400px;
    display: flex;
    flex-direction: row;
  }

  .about-pic img {
    width: 200px;
  }

  .about-text h1 {
    font-size: 35px;
  }

  .about-text p {
    font-size: 15px;
  }

  .about-text h2 {
    font-size: 18px;
  }

  .about-text ul {
    font-size: 15px;
  }

  .emoji {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1200px) {
  .about {
    width: 900px;
    height: 450px;
    display: flex;
    flex-direction: row;
  }

  .about-pic img {
    width: 250px;
  }

  .about-text h1 {
    font-size: 40px;
  }

  .about-text p {
    font-size: 15px;
  }

  .about-text h2 {
    font-size: 20px;
  }

  .about-text ul {
    font-size: 15px;
  }

  .emoji {
    font-size: 20px;
  }
}

.about-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
  box-sizing: border-box;
}

.about-text h1 {
  margin: 0;
}

.about-text p {
  text-align: justify;
  text-justify: inter-word;
}

.about-text h2 {
  margin: 0;
}

.about-text ul {
  padding-left: 25px;
  margin: 0;
}

.about-pic {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.about-pic img {
  border-radius: 20px;
  box-sizing: border-box;
}


