.wholebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.65);
}

.logo-nav {
  width: 3.2vw;
  height: auto;
  padding-top: 7px;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar li {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar a {
  text-decoration: none;
  font-size: 1.25rem;
  padding: 10px;
}

ul {
  padding-inline-start: 0px;
}

@media only screen and (max-width: 768px) {
  .logo-nav {
    display: none;
  }

  .navbar ul {
    gap: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .navbar ul {
    gap: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  .navbar ul {
    gap: 30px;
  }
}

@media only screen and (min-width: 1500px) {
  .navbar ul {
    gap: 40px;
  }
}

.name {
  position: absolute;
  left: 0;
  width: 25%;
  height: 100%;
  display: flex;
  z-index: 999;
  align-items: center;
  padding-left: 30px;
}

@keyframes glowing {
  0% {
    color: #cad2c5;
    text-shadow: 0 0 5px #cad2c5;
  }
  100% {
    color: #cad2c5;
    text-shadow: 0 0 20px #cad2c5;
  }
}

.wholebar a {
  text-decoration: none;
  color: #cad2c5;
}

.wholebar a:hover {
  animation: glowing 0.25s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.navbar {
  animation: fadeIn 1s ease-in;
}
