.bar_opacity {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: black;
  opacity: 25%;
  z-index: 997;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 998;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar li {
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar a {
  text-decoration: none;
  font-size: 1.5vw;
  padding: 10px;
}

ul {
  padding-inline-start: 0px;
}

.name {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 60px;
  display: flex;
  z-index: 999;
  align-items: center;
  padding-left: 30px;
}

.name a {
  font-size: 1.5vw;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

@keyframes glowing {
  0% {
    color: #CAD2C5;
    text-shadow: 0 0 5px #CAD2C5;
  }
  100% {
    color: #CAD2C5;
    text-shadow: 0 0 20px #CAD2C5;
  }
}

.wholebar a {
  text-decoration: none;
  color: #CAD2C5;
}

.wholebar a:hover {
  animation: glowing 0.25s forwards;
}
