#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #CAD2C5;
}

.fp-watermark {
  display: none;
}

#fullpage-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('images/landing-background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1; 
  opacity: 0.4;
}
