#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #CAD2C5;
}

.fp-watermark {
  display: none;
}

.section {
  position: relative;
  width: 100vw;
  justify-content: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
