#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #CAD2C5;
}

.fp-watermark {
  display: none;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in.active {
  opacity: 1;
}

.section {
  position: relative;
  width: 100vw;
  justify-content: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
